<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="logo">🏋️ AI Fitness Zone</div>
</div>

<div class="hero">
    <div class="box">
        <h2>Create Account</h2>

        <form method="post">
            <input name="username" placeholder="Username">
            <input name="password" placeholder="Password">
            <button>Signup</button>
        </form>
    </div>
</div>

</body>
</html>